<div class="user_header">
	<p class="user_img"><%= gravatar_image_tag @user.email, :class => 'gravatar',  :size => 80 %></p>

	<div class="user_name">
		<h2><%= @user.f_name + " " + @user.l_name%></h2>
		<p><%= @user.class_standing + ", " + @user.svad_major %></p>
	</div>

	<div class="social_media">
		<ul>
			<% if !@user.twitter_username.nil? && @user.twitter_username != "N/A" %>
				<li><a  class="twitter" href="http://www.twitter.com/<%= @user.twitter_username %>"><img src="/images/twitter.png" alt="Twitter" /></a></li>
			<% end %>

			<% if !@user.facebook_url.nil? && @user.facebook_url != "N/A" %>
				<li><a class="fb" href="http://www.facebook.com/<%= @user.facebook_url %>"><img src="/images/fb.png" alt="Facebook" /></a></li>
			<% end %>

			<% if !@user.linkedin_url.nil? && @user.linkedin_url != "N/A" %>
				<li><a class="linked" href="<%= @user.linkedin_url %>"><img src="/images/linked.png" alt="LinkedIn" /></a></li>
			<% end %>

			<% if !@user.forrst_username.nil? && @user.forrst_username != "N/A" %>
				<li><a class="forrst" href="<%= @user.forrst_username %>"><img src="/images/forrst.png" alt="Forrst" /></a></li>
			<% end %>
		</ul>
	</div>
</div>


<div class="portfolio">
	<% if !@user.about.nil? %>
		<section class="about">
			<h3>About Me </h3>
			<p><%= @user.about %></p>
		<section>
	<% end %>

	<% if !@user.twitter_username.nil? %>
		<section class="twitter">
			<h3>Recent Tweets </h3>
			<ul>
			<% @tweets.each do |tweet| %>
				<li><%= raw CGI.unescapeHTML(auto_link(tweet.text)) %></li>
			<% end %>
			</ul>
		</section>
	<% end %>

	<% if !@user.github_username.nil? && !@repos.nil? %>
		<section class="github">
			<h3>Github Repositories </h3>
			<ul>
			<% @repos.each do |repo| %>
				<li><a href="<%= repo.url %>"><%= repo.name %></a> <br /> <%= repo.description %></li>
			<% end %>
			</ul>
		</section>
	<% end %>

	<section class="contact">
	<h3>Contact</h3>
		<p class="email"><a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
		<% if !@user.phone.nil? %>
			<p class="phone"><%= @user.phone %></p>
		<% end %>
	<section>

</div>