<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>  
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'styles.css', :media => 'screen' %>  
  <link href='http://fonts.googleapis.com/css?family=Trocchi' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrap"><!--this div is to make the footer "sticky" boo extra div for presenation reasons :( -->
		<%= render 'layouts/header' %>
		
		<section class="content clear">
			<%= yield %>
		</section>
	</div>
	<%= render 'layouts/footer' %>	
</body>
</html>
